<h2>Edit <%= @genre.name %></h2>
<p><strong><%= link_to "Genres Index", genres_path %></strong> | <strong><%= link_to "Back to #{@genre.name}", genre_path(@genre.id) %></strong></p>
<%= render partial: 'form' %>
