<div class="user-image-container">
  <div class="user-image">
    <%= link_to cl_image_tag(@current_user.image), user_path(@current_user.id) %>
  </div>
</div>
<h1>Index of Genres</h1>
<div class="genre_list">
  <ul class="genre_index_ul">
    <% @genres.each do |g| %>
      <li class="genre_index_li">
        <%= link_to g.name, user_genre_path(@current_user.id, g.id) %>
      </li>
    <% end %>
      <li class="genre_index_li">
        <%= link_to "Add", new_user_genre_path(@current_user.id) %>
      </li>
  </ul>
</div>
