<div class="user-image-container">
  <div class="user-image">
    <%= link_to cl_image_tag(@current_user.image), user_path(@current_user.id) %>
  </div>
</div>
<div class="new-genre-container">
  <div class="new-genre-heading">
    <h1>Add new genre</h1>
  </div>
</div>
<%= render partial: 'form' %>
<footer class="genre-nav">
  <ul class="genre-nav-ul">
    <li class="genre-nav-li">
      <nav><strong><%= link_to "Back to Genres", user_path(@user_id) %></strong></nav>
    </li>
  </ul>
</footer>
