/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  background-image: url("musik-database-background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* Index of genres page */
ul.genre_index_ul, ul.song_index_ul{

  padding: 0;
  margin: 0 auto;
  padding: 0 100px;
  position: relative;
  display: flex;
  /* justify-content: space-around; */

  overflow-y: auto;
  overflow-x: auto;
}

/* welcome messages */

div.user-greeting h1, div.user-greeting h3, div.genre-greeting h1, div.genre-greeting p, div.song-greeting h1, div.song-greeting h2, div.song-greeting p {
  display: flex;
  justify-content: center;
  font-size: 25px;
  text-shadow: 3px 3px black;
}


li.genre_index_li, li.song_index_li {
  font-size: 40px;
  width: 350px;
  height: 350px;
  margin: 15px;
  border: 1px solid black;
  box-shadow: 10px 10px 20px 10px black;

  /* display: inline-flex;
  justify-content: space-between; */


}
li.genre_index_li a, li.song_index_li a {
  /* padding: 0 150px 368px; */
  /* width: 100%;
  height: 100%; */
}
a {
  text-decoration: none;
  color: white;
}

li.genre_index_li:hover, li.song_index_li:hover{
  opacity: 0.5;
}

/* photos */
.genre-image, .song-image {
  width: 350px;
  height: 350px;
}

/* login form */
.login-container, .sign-up-container  {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.genre-form-container, .song-form-container {
  display: flex;
  justify-content: center;
}


.login-form, .sign-up-form , .genre-form, .song-form {
  border: 4px solid white;
  border-radius: 15px;
  padding: 60px 80px;
  /* opacity: 0.8; */
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 10px 10px black;
  text-align: center;

}

.login-form li, .sign-up-form li, .genre-form li, .song-form li {
  margin: 3px 0;
}
/* Sign in page */
nav.new-account, nav.login-link, a.logout-path {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 8px 20px;
  text-shadow: 3px 3px black;
  text-shadow: 2px 2px black;
}

/* Genre page */
.genre-nav, .song-nav {
  display: flex;
  justify-content: flex-end;


}
.genre-nav-ul, .song-nav-ul {
  position: absolute;
  bottom: 0;

}
.genre-nav li, .song-nav li{
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 15px;
  text-shadow: 2px 2px black;
  border-radius: 10px;

}

.genre-type-container {
  box-shadow: 10px 10px 20px 10px black;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}
.new-song-container, .new-genre-container, .genre-edit-container {
  display: flex;
  justify-content: space-around;

}

.new-song-heading h1, .new-genre-heading h1, .new-genre-heading p, .genre-edit-container h1 {
  text-shadow: 3px 3px black;
}

.song-info-container {
  display: flex;
  justify-content: center;
}
.genre-background-heading {
  display: flex;
  justify-content: center;
}
