/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: beige;
}

/* Index of genres page */
ul.genre_index_ul, ul.song_index_ul{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  /* justify-content: space-around; */
  position: relative;
  overflow-y: auto;
  overflow-x: auto;


}

li.genre_index_li, li.song_index_li {
  font-size: 40px;
  width: 390px;
  height: 415px;
  margin: 15px;
  border: 1px solid black;

  /* display: inline-flex;
  justify-content: space-between; */


}
li.genre_index_li a, li.song_index_li a {
  padding: 0 150px 368px;
}
a {
  text-decoration: none;
  color: black;
}

li.genre_index_li:hover, li.song_index_li:hover{
  opacity: 0.4;
}
